.techfont{
  font-family: 'Russo One',sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.bigbrand{
  font-size: 1.5em;
}
.centrestage{
  margin-left: auto;
  margin-right: auto;
}

.loader {
  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;

}
.vertical-align{
  position:relative;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}
body{
font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    color: #707070;
    background: url();
    https://i.pinimg.com/originals/79/35/ed/7935ed83637b110edeb5c45925b96834.jpg
    background-size: 1920px 1080px;
    background-repeat: no-repeat;

}
div.card {
  width: 1080px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}
